---
layout: default
---

<section class="hero-panel" id="home">
  <div class="container">
    <h1>Norman Chan</h1>
    <h4>Full Stack Developer - Super Nerd</h4>
  </div>
  <a class="button" href="{{ site.url }}/pdf/NormanChan-Resume.pdf">Resume</a>
</section>

{% include header.html %}

<div class="container">
  {% include about.html %}
  {% include portfolio.html %}
  {% include toolbelt.html %}
  {% include contact.html %}
</div>

<script src="{{ site.url }}/javascript/main.js" defer="defer"></script>
