<section class="about">
  <div class="container">
    <div class="row">
      <div class="six columns">
        <h1>About me</h1>
        <p>
          My name is Norman Chan and I'm a developer, amateur photog and lover of all things geeky, booky and walky. I want to add value to the world by developing unique projects that evoke emotion and make people go 'wow'.
        </p>
      </div>
      <div class="five columns">
        <img src="{{ site.url }}/images/profilepic.jpg">
      </div>
    </div>
  </section>
