<section id="about" class="hide">
    <div class="row">
      <div class="six columns">
        <h1>About me</h1>
        <p>
          My name is Norman Chan and I'm a professional full stack developer,
          amateur photog and lover of all things geeky.
          I want to add value to the world by developing unique
          projects that solve problems and disrupt the digital landscape.
        </p>
      </div>
      <div class="five columns">
        <img src="{{ site.url }}/images/profilepic.jpg" alt="profilepic">
      </div>
    </div>
</section>
