<section id="contact">
  <div class="container">
    <h1>Contact me</h1>
    <form method="POST" action="http://formspree.io/slowmanchan@gmail.com">
      <div class="row">
        <div class="six columns">
          <label for="emailinput">Your email</label>
          <input class="u-full-width" type="email" placeholder="example@email.com" name="email" id="emailinput">
        </div>
        <div class="six columns">
          <label for="nameinput">Your full name</label>
          <input class="u-full-width" type="text" placeholder="Bob Loblaw" name="name" id="nameinput">
        </div>
      </div>

      <label for="message">Message</label>
      <textarea class="u-full-width" placeholder="Hi Norm, hows it going?" name="message" id="message"></textarea>
      <input class="button-primary" type="submit" value="Send">
    </div>
  </section>
