<header id="navbar">
  <div class="container">
    {% assign sscroll = "sscroll" %}
    <ul>
      <a href="#home" class="{{sscroll}}"><li><i class="fa fa-home" ></i>Home</li></a>
      <a href="#about" class="{{sscroll}}"><li><i class='fa fa-user'></i>About</li></a>
      <a href='#work' class="{{sscroll}}"><li><i class='fa fa-building'></i>Pro Work</li></a>
      <a href="#portfolio" class="{{sscroll}}"><li><i class='fa fa-briefcase'></i>Portfolio</li></a>
      <a href="{{site.url}}/posts"><li><i class='fa fa-book'></i>Blog</li></a>
      <a href="#contact" class="{{sscroll}}"><li><i class='fa fa-envelope'></i>Contact</li></a>
    </ul>
  </div>
</header>

<div id="spacer">
</div>
