<section id='work'>
  <div class='row'>
      <h1>Professional Work</h1>
    </div>
  <div class="row">
    <div class='six columns'>

      <p>I've worked with non-profit industry leader MedicAlert and helped
      them realize there digital potential.  With my unique blend of business and
      technical acumen, I took charge and developed various responsive landing pages, eshop enhancements
      and maintained their blog.
      <br/><br/>
      I also created email campaigns to support customer acquisition, reorder and partnerships
      as well as created data reports for the marketing team using sql server managment studio and
      sql server integration services to help them sell to the right people.
    </p>

    </div>
    <div class='six columns'>
      <div id='professional'>
        <a href='https://www.MedicAlert.ca'>
          <img src='{{ site.url }}/images/MedicAlert.png' alt='Malert'/>
        </a>
       </div>
    </div>
  </div>
</section>
