//home section
.hero-panel {
  text-align:  center;
  @extend .blue-gradient;
  color: white;

  h1 {
    text-transform: uppercase;
    font-weight: 400;
  }
  a {
    border-color: white;
    color: white;

    &:hover {
      color: blue;
      background-color: white;
      transition: all 0.3s ease-in-out;
    }
  }

}
