section {
  padding: 100px 0;
  border-bottom: 1px solid hsl(0%, 0%, 80%);
}
#resume-btn {

  border-color: white;
  color: white;

  &:hover {
    color: blue;
    background-color: white;
    transition: all 0.3s ease-in-out;
  }
}
