.post {
  font-size: 1.1em;

  padding-top: 50px;

  a {
    text-decoration: none;
  }
  h1 {
    font-weight: bold;
  }

}
.actions {
  list-style: none;
}

.date {
  display: inline;
  color: hsl(0%, 0%, 50%);
}
.drop-cap {
  float: left;
  line-height: 140px;
  padding: 0px 8px 3px 0;
  font-size: 160px;
}
