.post {
  font-size: 1.3em;
  padding-top: 50px;

  a {
    text-decoration: none;
  }
  h1 {
    font-family: 'Open Sans';

    font-weight: bold;
  }

}
.actions {
  list-style: none;
}

.date {
  display: inline;
  color: hsl(0%, 0%, 50%);
}
.drop-cap {
  float: left;
  line-height: 140px;
  padding: 0px 8px 3px 0;
  font-size: 160px;
}

.blog-header {
  background: #34495e;
  *  {
    font-family: 'VT323';
  }
  a {
    color: white;
    font-size: 1.3em;

    &:hover {
      color: white;
    }
  }
  h1 {
    font-size: 4em;
    color: #3498db;
  }
  input {
    color: white;
    transition: all 0.3s ease-in;

    &:hover {
      color: #34495e;
      background-color: white;
    }
  }


}

.banner {
  background: #2c3e50;
  color: #ecf0f1;
  text-align: center;
  padding: 70px 0;
}
