@media screen and (max-width: 690px) {
  #navbar {
    text-align: center;
    margin: auto;
    ul {
      display: inline-block;
    }
  }
  #about {
    text-align: center;

    img {
      float: none;
      margin: auto;
    }
  }
  section {
    text-align: center;
  }
  .main-footer {


    li{
      padding: 1px;
    }
  }
  #portfolio {
    h1 {
      padding-top: 20px;
    }
    img {
      width: 200px;
    }
  }

  #professional {
    img {
      width: 300px;
    }
  }

}

@media screen and (max-width: 490px){
  #portfolio {
    img {
      width: 100%;
    }
  }
  #professional {
    img {
      width: 100%;
    }
  }
  #navbar {
    a {
      font-size: 0;
    }

    a i {
      font-size: 20px;
    }
  }


}
@media screen and (min-width: 700px){

  .post {
    width: 70%;
    margin: auto;
  }
}
